@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Rubik font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

/* Import Krub font */
@import url("https://fonts.googleapis.com/css2?family=Krub:wght@400;500;700&display=swap");

.gateway-bg {
  background-image: url(/src/images/gateway/gateway.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  /* min-height: 100vh; */
}
.explore-bg {
  background-image: url(/src/images/gateway/explore.png);
  background-repeat: no-repeat;
  background-size: 40% 60%;
  height: 50%;
  min-height: 15vh;
}
.explore-hover:hover{
  height: 50px;
  width: 170px;
  background-color: #fff; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #fff, #fff);
}
.explore-grad {
  height: 50px;
  width: 170px;
  background-color: #ffb629; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #ffb629, #ffd7a6);
}
.rubikFont {
  font-family: "Rubik", sans-serif;
}
.krubFont {
  font-family: "Krub", sans-serif;
}
.League {
  font-family: League Spartan;
}
.container-bg {
  background-image: url(/src/images/container/container.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  min-height: 40vw;
  z-index: 1;
}
.wrapper {
  position: relative;
}
.container-wrapper {
  position: relative;
  z-index: 2;
}
.plane-img {
  background-image: url(/src/images/container/plane.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-width: 45vh;
  height: 100%;
  min-height: 50vh;
  z-index: 1;
}
.deliverytime-img {
  background-image: url(/src/images/container/deliverytime.png);
  position: absolute;
  background-repeat: no-repeat;
  top: 3vh;
  right: 3vh;
  background-size: 100% 100%;
  width: 50%;
  height: 50%;
  min-width: 30vh;
  min-height: 23vh;
  z-index: 3;
}
.background-deliverytime {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 60%;
  z-index: 2;
}
.transporting-grad {
  height: 300px;
  z-index: 1;
  position: relative;
  width: 100%;
  background-color: #ffb629; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #ffb629, #ffd7a6);
}
.transporting-grad::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    #ffb629 -1.19%,
    #ffda56 57.78%,
    #ffd7a6 115.08%
  );
}
.morework-grad {
  height: 50px;
  width: 170px;
  position: relative;
  z-index: 2;
  background-color: #1f2a69; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #091242, #1f2a69);
}
.morework-hover:hover{
  height: 50px;
  width: 170px;
  position: relative;
  z-index: 2;
  background-color: #1f2a69; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #1f2a69, #1f2a69);
}
.tanker-bg {
  background-image: url(/src//images//transporting/tanker.png);
  top: 0;
  left: 0;
  width: 250px;
  background-size: 100% 100%;
  height: 350px;
  min-height: 20vh;
}
.packaging-bg {
  background-image: url(/src//images//transporting/packaging.png);
  top: 0;
  left: 0;
  width: 250px;
  background-size: 100% 100%;
  height: 350px;
  min-height: 20vh;
}
.truck-bg {
  background-image: url(/src//images//transporting/truck.png);
  top: 0;
  left: 0;
  width: 250px;
  background-size: 100% 100%;
  height: 350px;
  min-height: 20vh;
}
.warehouse-bg {
  background-image: url(/src//images//transporting/warehouse.png);
  top: 0;
  left: 0;
  width: 250px;
  background-size: 100% 100%;
  height: 350px;
  min-height: 20vh;
}
.boat-bg {
  background-image: url(/src//images//transporting/boat.png);
  top: 0;
  left: 0;
  width: 250px;
  background-size: 100% 100%;
  height: 350px;
  min-height: 20vh;
}
.images-transport {
  position: relative;
}
.plane-grad {
  height: 100px;
  width: 350px;
  position: absolute;
  z-index: 10;
  background-color: #ffb629; /* For browsers that do not support gradients */
  background-image: linear-gradient(to top, #ffb629, #ffd7a6);
}
.socialmedia-grad {
  height: 60px;
  width: 150px;
  position: absolute;
  z-index: 2;
  background-color: #ffb629; /* For browsers that do not support gradients */
  background-image: linear-gradient(to top, #ffb629, #ffd7a6);
}
.socialrebeca-grad {
  height: 60px;
  width: 100px;
  position: absolute;
  z-index: 2;
  background-color: #ffb629; /* For browsers that do not support gradients */
  background-image: linear-gradient(to top, #ffb629, #ffd7a6);
}
.inputclass .p-inputtext {
  background-color: #091242 !important;
  border: 1px solid #4e5683;
  color: #ffffff !important;
}
.p-inputtextarea {
  background-color: #091242 !important;
  border: 1px solid #4e5683;
  color: #ffffff !important;
}
.supply-grad {
  height: 200px;
  width: 300px;
  position: relative;
  z-index: 10;
  background-color: #1c1f35; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #1c1f35, #1c1f35);
}
.send-grad {
  height: 50px;
  width: 120px;
  background-color: #ffb629; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #ffb629, #ffd7a6);
}
.send-hover:hover{
  height: 50px;
  width: 120px;
  background-color: #fff; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #fff, #fff);
}

.p-menuitem-text{
  color: #fff;
}
.pages-bg{
  background-color: transparent;
}
.pages-hover:hover{
  background-color: transparent;
}
.p-menuitem .p-menuitem-link{
  color:black;
  border-color:transparent ;
  background-color: transparent;
}
.MenuBar-class .p-menuitem .p-menuitem-link{
  color:black;
  border-color:transparent ;
  background-color: black;
}

.p-menuitem{
  color:#fff;
  border-color:transparent ;
}
.nav-menu-button .p-menuitem{
  background-color: transparent;
  border-color:transparent ;
}
.pages-icon .p-icon{
  color: #fff;
}
.p-menubar{
  background-color: transparent;
}
.nav-menu-button .p-menubar{
  padding: 0px;
}
.p-menuitem .p-menuitem-active:hover{
  background-color:transparent ;
  border-color:transparent ;
}

.p-menuitem .p-menuitem-active{
  border-color:transparent ;
}
.p-menuitem-link{
  background-color:transparent ;
  border-color:transparent ;
}
.nav-menu-button .p-menuitem-link{
  background-color:transparent ;
  border-color:transparent ;
  padding: 5px;
}
.p-submenu-list{
  background-color:transparent ;
}
.p-carousel-prev .p-link{
  background-color: #091242;
  color: #091242;
}
.Footer-Tab .p-tabview-panels{
  background-color: #091242;
}
.Footer-Tab .p-tabview-nav{
background-color: #091242;
}
